parameters:
    level: 5
    paths:
        - domain
        - tests/cases
    inferPrivatePropertyTypeFromConstructor:
        true
#    doctrine:
#        repositoryClass:
#            \Sports\Repository