parameters:
    level: 0
    paths:
        - domain
        - tests/cases
    inferPrivatePropertyTypeFromConstructor:
        true
    doctrine:
        repositoryClass:
            \Sports\Repository