parameters:
    level: 6
    paths:
        - domain
        - tests/cases
        - app
        - config
    excludePaths:
        - app/Export/*
    inferPrivatePropertyTypeFromConstructor:
        true
    doctrine:
        repositoryClass:
            \Sports\Repository