{% extends "layout.html" %}

{% block body %}

    <p class="text-gray-700"
       style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin-top: 0px;" align="left">
        Hallo,
    </p>

    <p class="text-gray-700"
       style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin-bottom: 24px;"
       align="left">
        Met deze code kun je je wachtwoord herstellen: {{ forgetpasswordToken }}
    </p>

    <p class="text-gray-700"
       style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin-bottom: 24px;"
       align="left">
        Let op : je kunt deze code gebruiken tot en met: {{ forgetpasswordDeadline }} uur
    </p>
    <p class="text-gray-700" style="line-height: 24px; font-size: 16px; color: #4a5568; width: 100%; margin-bottom: 0px"
       align="left">
        met vriendelijke groet,
        <br>
        FCToernooi
    </p>

    {# <table class="btn cusgray text-white" role="presentation" border="0" cellpadding="0" cellspacing="0" #}
    {# style="border-radius: 6px; border-collapse: separate !important; color: white; font-family: Archivo, Helvetica, Arial, sans-serif !important; margin-top: 24px;" #}
    {# bgcolor="#3e3f3a"> #}
    {# <tbody> #}
    {# <tr> #}
    {# <td style="line-height: 24px; font-size: 16px; border-radius: 6px; color: #ffffff; font-family: Archivo, Helvetica, Arial, sans-serif !important; margin: 0;" #}
    {# align="center"> #}
    {# <a href="{{ wwwUrl }}" target="_blank" #}
    {# style="background-color: #3e3f3a; color: white; font-size: 16px; font-family: Helvetica, Arial, sans-serif; text-decoration: none; border-radius: 6px; line-height: 20px; display: block; font-weight: normal; white-space: nowrap; padding: 8px 12px; border: 1px solid transparent;">ga #}
    {# naar fctoernooi.nl</a> #}
    {# </td> #}
    {# </tr> #}
    {# </tbody> #}
    {# </table> #}

{% endblock %}